@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    --cor-principal:#dddd;
}

body{
    background-color: var(--cor-principal);
}

main{
    width: 100vw;
    height: 100vh;
}

.logo {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px; 
}

.red{
    position: fixed;
    width: 40em;
    height: 40em;
    right: 80%;
    top: 20%;
    border-radius: 100% ;
    background-color: red;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.form h1{
    font-family: "Allerta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
}

.input-container {
    width: 20%;
    margin-bottom: 20px;
}

.input-container input, .input-container select {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--cor-principal);
}

#teste {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--cor-principal);
    cursor: pointer; 
}

button{
    background-color: #ED4040;
    width: 20%;
    padding: 0.3rem;
    border: none;
    color: white;
    cursor: pointer;
}

a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding-top: 1%;
}
