PORT = 

HOST = 'localhost'
USER = 'root'
PASSWORD = ''
DATABASE = ''


# Criando Espaço

# npm install express dotenv cors mysql2


# CREATE TABLE `petsaudefeliz`.`pet` (
#   `idpet` INT NOT NULL,
#   `nome` VARCHAR(45) NOT NULL,
#   `raca` VARCHAR(45) NOT NULL,
#   `data_nasc` DATETIME NOT NULL,
#   `genero` VARCHAR(45) NOT NULL,
#   `peso` INT NOT NULL,
#   `nivel_atv` VARCHAR(45) NOT NULL,
#   PRIMARY KEY (`idpet`),
#   FOREIGN KEY (`idpet`) REFERENCES usuarios(`id`));