@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    color: black;
}
:root{
    ---cor-principal:#dddd;
}
body{
    background-color: var(---cor-principal);
}
header{
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(---cor-principal);
    width: 100vw;
    height: 20vh;
}
header h1{
    color: white;
    font-size: 300%;
    padding: 3%;
    
}

.container {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100vw; 
    height: 100vh; 
  }
#red{
    position: fixed;
    justify-content: center;
    width: 100em;
    height: 100em;
    left: 60%;
    bottom: 40%;
    border-radius: 100% ;
    background-color: red;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: start; 
    align-items: center;
}
main h1{
    font-size: 3em;
}
.container1 {
    padding: 0 0 0 6.25em ;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.container1 img {
    height: 6.25em;
}

.containerp p{
    padding-left: 6.25em;

}

.containerp{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    flex-direction: column;
    padding: 0 0 12.5em 0;
    
    
}
.containerp p{
    font-size: 1.2em;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;

}

#entrar{
    margin: 20em 0 0 10em; 
    padding: 15px 50px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background: rgb(255,0,0);
    background: linear-gradient(180deg, rgba(255,0,0,1) 35%, rgba(255,255,255,1) 100%);
}

footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    font-style: bold;
    
}

footer div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}